# Sécurité
.env
.DS_Store

# Dépendances
node_modules/
.vercel/

# ON NE BLOQUE PAS LES JSON (Besoin pour registry.json et package.json)
# *.json <--- Cette ligne doit rester supprimée ou commentée
.vercel
